[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.78.0"
uvicorn = {extras = ["standart"], version = "==0.17.6"}
pydantic = "==1.9.1"
alembic = "==1.7.7"
psycopg2-binary = "==2.9.3"
werkzeug = "==2.1.2"
pyjwt = "==2.1.0"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
setup = "bash ./scripts/setup.sh"
test = "bash ./scripts/test.sh"
lint = "bash ./scripts/lint.sh"
start = "bash ./scripts/start.sh"